.header{
    width:100%;
    height:70px;
    background:#16171a;
    outline: 2px solid rgba(212, 175, 55, 0.3);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    box-sizing:border-box;

}

.logo{
    color:#f5c542;
    font-size:28px;
    font-weight:bold;
    gap:3px; 
    font-family:Arial, Helvetica, sans-serif;
}

.mnb{
    display:flex;
    gap:35px;
}

.mnb a{
   
    color:white;
    font-size:16px;
  
    font-family:Arial, Helvetica, sans-serif;
}


.shop-btn{
    padding:10px 22px;
    border:none;
    background:#f5c542;
    color:black;
    font-weight:bold;
  transition: transform .1s;
    border-radius:30px;
  
}
.shop-btn:hover{
  transform: scale(1.1);
}





.banner {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    left: 0;
}

#b1 {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.mi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

.mi h1 {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.mi p {
    font-size: 27px;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    color: #E2E4E9;
}

.btn {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 40px;
    border: 2px solid #D4AF37 ;
    color: #0B0C10;
    transition: .4s;
    border-radius: 20px;
}

.btn:hover {
    background: #D4AF37;
    color: #0B0C10;
}


.about {
    width: 100vw;

    display: grid;
    text-align: center;
    align-items: center;
    gap: 40px;
    outline: solid rgb(255, 255, 255) 1px;
    background: #000000;
    color: white;
    grid-template-columns: 1fr 1.9fr 0.1fr;

}

#about1 {
   
width: 100%;
    height: 350px;
    padding: 40px;
    display: block;
    object-fit: cover;          
    border-radius: 15px;       
    overflow: hidden;
}





.about2 p {
    font-size: 24px;
    margin-left: 40px;
    color: #E2E4E9;



}

.collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 50px;
    background-color: black;

}

.mangoes {
    background: #1F2128;
    border-radius: 15px;
    overflow: hidden;
    outline: solid white 1px;
    text-align: center;
    transition: transform .2s;
}

.mangoes:hover {
    transform: scale(1.1)
}

.mangoes img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.mangoes h3 {
    margin: 15px 0;
    color: #FF9F1C;
}

.mangoes p {
    padding: 0 15px 20px;
    color: #E2E4E9;

}

#collection {
    height: 40px;
    width: 100%;
    background-color: #1F2128;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(212, 175, 55, 0.2);
    color: #D4AF37;

}

.featured {
    width: 100vw;

    display: grid;
    text-align: center;
    align-items: center;
    gap: 40px;
    outline: solid grey 1px;
    background: #000000;
    color: white;
    grid-template-columns: 1fr 1.9fr 0.1fr;


}

.f1 {
    width: 100%;
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20%;
    padding: 40px;

}

.feature p {
    font-size: large;
    margin-left: 40px;
    color: #E2E4E9;
}

.div1 {
    height: 100vh;
    width: 100vw;
    background-color: #0B0C10;
    left: 0;
}

.statics {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 50px;
    overflow: hidden;
}

.s1 {

    border-radius: 20%;
    object-fit: cover;
    height: 200px;
    transition: transform .2s;


}

.s1:hover {
    transform: scale(1.1);
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: #000000;
    gap: 30px;
    padding: 50px;

}

.f2 {
    border-radius: 20px;
    object-fit: cover;
    gap: 30px;
    background-color:#1F2128;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #E2E4E9;
    outline: 1px solid rgba(212, 175, 55, 0.3);
    transition: transform .2s;
}

.f2:hover {
    transform: scale(1.1);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 30px;
    background-color: #000000;

}

.contact-us {
    background-color: #1F2128;
    outline: solid white 1px;
    border-radius: 20px;
}

.contact-us h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #D4AF37;

}

.contact-us p {
    margin-left: 20px;
    color: #E2E4E9;
}



.registration {
    background-color: #1F2128;
    outline: solid white 1px;
    border-radius: 20px;
}
.registration h1{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    color: #D4AF37;

}
.registration p{
    margin-left: 20px;
    color: #E2E4E9;
}


.registration form{
    margin-left: 20px;
}

.i1{
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    color: #FF9F1C;
    background-color: #0B0C10;
    outline: solid #FF9F1C 1px;
}
.button{
    padding: 10px;
    border-radius: 20px;
   width:50%;
    outline: solid #D4AF37 1px;
    color: #0B0C10;
    background: #FF9F1C;
    
}
.footer{
    padding: 50px;
    background-color: #0B0C10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.4);
}
strong{
    color: #FF9F1C;
}
.whatsapp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 100px;
    right: 30px;
    position: fixed;
    outline: #FF9F1C solid 1px;
    overflow: hidden;
    object-fit: cover;
}
.ai{
     height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    position: fixed;
    outline: #FF9F1C solid 1px;
     overflow: hidden;
    object-fit: cover;
}
