.header {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    outline: solid grey 0.1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;

}

.banner {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    left: 0;
}

#b1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.mi{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
    z-index:3;
}
.mi h1{
    font-size:80px;
    color:#ffffff;
    margin-bottom:20px;
    letter-spacing:4px;
}

.mi p{
    font-size:27px;
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:35px;
    padding:15px 40px;
    border:2px solid #000000;
    color:#ffffff;
    transition:.4s;
    border-radius: 20px;
}

.btn:hover{
    background:#ffffff;
    color:black;
}


.about{
    width:100vw;
    
    display:grid;
    text-align: center;
    align-items:center;
    gap:40px;

    background:#000000;
    color:white;
    grid-template-columns:1fr 1.5fr 0.5fr;

 
}

#about1{
    width: 100%;
    border-radius:15px;
    display:block;
    width:100%;
    height:350px;
    object-fit:cover;
    border-radius:20%;
    padding: 40px;
    
    
}


.about2 h2{
    font-size:xxx-large;
    margin-bottom:20px;
    color:#d4af37;
    

}

.about2 p{
    font-size:24px;
    margin-left: 40px;
    
    
}

#collection{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    padding:50px;
    background-color: black;
}
.mangoes{
     background: grey;
    border-radius:15px;
    overflow:hidden;
    outline:solid white 0.1px;
    text-align:center;
    transition: transform .2s;
}
.mangoes:hover{
     transform: scale(1.1)
}
.mangoes img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.mangoes h3{
    margin:15px 0;
}

.mangoes p{
    padding:0 15px 20px;
}
